.movement-grid {
  /*mode movil*/
  grid-template-columns: auto 100px;

  @screen sm {
    grid-template-columns: auto 80px;
  }

  @screen md {
    grid-template-columns: 40% 30% 20% 80px;
  }

  @screen lg {
    grid-template-columns: 40% 30% 20% 80px;
  }
}