<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
    <!-- Header -->
    <div
        class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
    >
        <!-- Navigation toggle button -->
        <a
            class="text-3xl font-extrabold leading-none"
            [routerLink]="'/dashboard'"
        >
            Lock App
        </a>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <messages></messages>
            <!-- <shortcuts></shortcuts> -->
            <button mat-icon-button [matMenuTriggerFor]="menuUser">
                <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
            </button>
            <mat-menu #menuUser="matMenu">
                <button mat-menu-item>
                    <span class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:user-circle'"
                        ></mat-icon>
                        <span>{{ user.auth.name }}</span>
                    </span>
                </button>
                <button mat-menu-item (click)="signOut()">
                    <span class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="
                                'heroicons_outline:arrow-right-on-rectangle'
                            "
                        ></mat-icon>
                        <span>Cerrar session</span>
                    </span>
                </button>
            </mat-menu>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden"
    >
        <span class="font-medium text-secondary"
            >Lock App &copy; {{ currentYear }}</span
        >
    </div>
</div>
