<form
    class="flex flex-col px-8 pt-10 bg-card shadow rounded overflow-hidden"
    [formGroup]="formLocker"
>
    <div
        class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-2"
    >
        <div class="col-span-2 flex justify-between">
            <div>
                <p class="text-lg font-medium">Información sobre Locker</p>
                <p class="text-secondary mb-6">
                    Informacion basica acerca del controlador
                </p>
            </div>
        </div>
        <div>
            <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label>Nombre locker</mat-label>
                <input
                    matInput
                    [placeholder]="'Nombre locker'"
                    [formControlName]="'name'"
                />
                @if (formLocker.get("name")?.hasError("required")) {
                    <mat-error>Nombre requerido</mat-error>
                }
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label>Tipo</mat-label>
                <mat-select
                    [placeholder]="'Tipo'"
                    [formControlName]="'type_locker_id'"
                >
                    @for (typeLocker of typeLockers(); track $index) {
                        <mat-option [value]="typeLocker.type_locker_id">{{
                            typeLocker.name
                        }}</mat-option>
                    }
                </mat-select>
                @if (formLocker.get("type_locker_id")?.hasError("required")) {
                    <mat-error>Tipo locker requerido</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="col-span-2">
            <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label>Direccion</mat-label>
                <input
                    matInput
                    [placeholder]="'Direccion'"
                    [formControlName]="'address'"
                />
                @if (formLocker.get("address")?.hasError("required")) {
                    <mat-error>Direccion requerido</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="flex gap-2">
            <div>
                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Fila</mat-label>
                    <input
                        matInput
                        [placeholder]="'Fila'"
                        [type]="'number'"
                        [formControlName]="'fila'"
                    />
                    @if (formLocker.get("fila")?.hasError("required")) {
                        <mat-error>Fila requerido</mat-error>
                    }
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label>Columna</mat-label>
                    <input
                        matInput
                        [placeholder]="'Columna'"
                        [type]="'number'"
                        [formControlName]="'columna'"
                    />
                    @if (formLocker.get("columna")?.hasError("required")) {
                        <mat-error>Columna requerido</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="">
            <mat-form-field class="w-full" [floatLabel]="'always'">
                <mat-label>Total casilleros</mat-label>
                <input
                    matInput
                    [placeholder]="'Total casilleros'"
                    [readonly]="true"
                    [value]="this.total()"
                />
            </mat-form-field>
        </div>

        <div class="col-span-2">
            <div
                class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
            >
                <!-- <button mat-button>Cancel</button> -->
                <button
                    class="px-6 ml-3"
                    mat-flat-button
                    [color]="'primary'"
                    type="button"
                    (click)="handlerSubmit()"
                >
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>
