<div
  class="grid xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-4 xl:grid-cols-4"
>
  <div
    class="xs:col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-4 xl:col-span-4"
  >
    Locker 555
  </div>
  <div
    class="xs:col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-2 xl:col-span-2  p-4 flex items-center justify-center text-sm"
  >
    <!-- <diagram-locker
      [locker]="locker()"
      (onSelected)="handlerSeleted($event)"
    ></diagram-locker> -->
  </div>
  <div
    class="xs:col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-2 xl:col-span-2 col-span-2 p-4 text-sm"
  >
    <div class="grid grid-cols-1 gap-4">
      <!-- <detail-locker [locker]="locker()"></detail-locker>
      <resumen-locker [locker]="locker()" [resume]="resume()"></resumen-locker>
      <detail-door [locker]="locker()" [selected]="selected()"></detail-door> -->
    </div>
  </div>
  <div
    class="xs:col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-4 xl:col-span-4 col-span-2 pt-5 text-sm"
  >
    <!-- <seccion-data-table [description]="'Movimientos'" [filter]="true">
      <datatable-locker></datatable-locker>
    </seccion-data-table> -->
  </div>
</div>
