<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a
                        class="whitespace-nowrap text-primary-500"
                        [routerLink]="'/building'"
                        >Tablero</a
                    >
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    Edificio
                </div>
            </div>
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    {{ cardData().building.name }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto-mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'0'"
            >
                <!-- Home -->
                <mat-tab label="Lockers">
                    <ng-template matTabContent>
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
                        >
                            @for (locker of cardData().lockers; track $index) {
                            <card-dashboard
                                [locker]="locker"
                                (onDelete)="onDelete($event)"
                                (onEdit)="onEdit($event)"
                                (onNavigate)="onNavigate($event)"
                            ></card-dashboard>
                            } @if (validateAdmin()) {
                            <div
                                class="flex flex-col items-center justify-center w-full rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out min-h-40"
                                (click)="handlerCreatelocker()"
                            >
                                <mat-icon
                                    class="icon-size-12 text-hint"
                                    [svgIcon]="'heroicons_outline:plus'"
                                ></mat-icon>
                            </div>
                            }
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
