<div class="grid">
    <div
        class="movement-grid grid xs:grid-cols-7 sm:grid-cols-7 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 z-10 sticky top-0 gap-2 py-4 px-6 md:px-8 shadow font-semibold text-secondary bg-gray-50 dark:dark:bg-neutral-900 dark:bg-opacity-5"
        matSort
        matSortDisableClear
    >
        <div
            class="truncate xs:truncate sm:truncate md:block lg:block xl:block"
            [mat-sort-header]="'department'"
            (click)="handleSorts()"
        >
            Departamento
        </div>
        <div
            class="hidden xs:hidden sm:hidden md:block lg:block xl:block"
            [mat-sort-header]="'casillero'"
            (click)="handleSorts()"
        >
            Casillero
        </div>
        <div
            class="hidden xs:hidden sm:hidden md:block lg:block xl:block"
            [mat-sort-header]="'status_integrate'"
            (click)="handleSorts()"
        >
            Integracion
        </div>
        <div
            class="hidden xs:hidden sm:hidden md:block lg:block xl:block"
            [mat-sort-header]="'status_notificate'"
            (click)="handleSorts()"
        >
            Whatsapp
        </div>
        <div
            class="hidden xs:hidden sm:hidden md:block lg:block xl:block"
            [mat-sort-header]="'create_at'"
            (click)="handleSorts()"
        >
            Fecha Registro
        </div>
        <div
            class="hidden xs:hidden sm:hidden md:block lg:block xl:block"
            [mat-sort-header]="'state'"
            (click)="handleSorts()"
        >
            Estado
        </div>
        <div
            class="truncate xs:truncate sm:truncate md:block lg:block xl:block"
            (click)="handleSorts()"
        >
            Acciones
        </div>
    </div>
    <div class="flex flex-auto flex-col overflow-y-auto">
        @for (movement of dataTableMovement().movements; track $index) {
        <div
            class="movement-grid grid xs:grid-cols-7 sm:grid-cols-7 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 items-center gap-2 py-3 px-6 md:px-8 border-b"
        >
            <div
                class="truncate xs:truncate sm:block md:block lg:block xl:block"
            >
                {{ movement.department }}
            </div>
            <div class="hidden xs:hidden sm:hidden md:block lg:block xl:block">
                {{ movement.casillero }}
            </div>
            <div class="hidden xs:hidden md:block lg:block xl:block">
                <mat-chip class="" cdkDrag>
                    {{ movement.status_integrate === 0 ? "No" : "Si" }}
                </mat-chip>
            </div>
            <div class="hidden xs:hidden md:block lg:block xl:block">
                <mat-chip class="" cdkDrag>
                    {{ movement.status_notificate === 0 ? "No" : "Si" }}
                </mat-chip>
            </div>
            <div class="hidden xs:hidden md:block lg:block xl:block">
                {{ movement.create_at }}
            </div>
            <div class="hidden xs:hidden md:block lg:block xl:block">
                {{ movement.state }}
            </div>
            <div class="truncate xs:truncate md:block lg:block xl:block">
                <button
                    mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon"
                >
                    <mat-icon
                        svgIcon="heroicons_solid:arrow-top-right-on-square"
                    ></mat-icon>
                </button>
            </div>
        </div>
        }
        <mat-paginator
            class="bg-gray-50 border-b dark:bg-transparent absolute border-t bottom-0 inset-x-0 z-10"
            [length]="dataTableMovement().paginate.length"
            [pageIndex]="dataTableMovement().paginate.pageIndex"
            [pageSize]="dataTableMovement().paginate.pageSize"
            [pageSizeOptions]="initialPagination.PageSizeOption"
            (page)="handlePageEvent($event)"
        ></mat-paginator>
    </div>
</div>
