<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12"
            >
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div
                            class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                        >
                            Bienvenido, !
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'0'"
            >
                <!-- Home -->
                <mat-tab label="Lockers">
                    <ng-template matTabContent>
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
                        >
                            @for (locker of cardList().lockers; track $index) {
                            <card-dashboard [locker]="locker"></card-dashboard>
                            }
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
