<div
    class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent"
>
    <div class="flex-1 min-w-0">
        <div class="flex flex-wrap items-center font-medium">
            <div>
                <a
                    class="whitespace-nowrap text-primary-500"
                    [routerLink]="'/building'"
                    >Tablero</a
                >
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon
                    class="icon-size-5 text-secondary"
                    [svgIcon]="'heroicons_mini:chevron-right'"
                ></mat-icon>
                <a class="ml-1 text-slate-900"
                    >{{
                        this.locker_id !== undefined ? "Editar" : "Nuevo"
                    }}
                    Locker</a
                >
            </div>
        </div>
        <div class="mt-2">
            <h2
                class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
            >
                {{ this.locker_id !== undefined ? "Editar" : "Nuevo" }} Locker
            </h2>
        </div>
    </div>
</div>
<div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-6 p-6"
>
    <div class="sm:col-span-1 md:col-span-1 lg:col-span-2 xl:col-span-2">
        <form-locker
            [locker]="locker()"
            (onSubmit)="onSubmit($event)"
            [typeLockers]="typeLocker()"
        ></form-locker>
    </div>
    @if (locker_id!==undefined) {
    <div class="sm:col-span-1 md:col-span-1 lg:col-span-2 xl:col-span-2">
        <datatable-controler
            [dataTableController]="dataTableController()"
            [locker_id]="locker_id"
            (reloadDataTableController)="
                handlerReloadDataTableController($event)
            "
        ></datatable-controler>
    </div>
    <div class="sm:col-span-2 md:col-span-2 lg:col-span-4 xl:col-span-4">
        <datatable-door
            [dataTableDoor]="dataTableDoor()"
            [locker_id]="locker_id"
            (reloadDataTableDoor)="handlerReloadDataTableDoor($event)"
        ></datatable-door>
    </div>
    }
</div>
